<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel = "stylesheet" type = "text/css" href = "/css/style.css">

        
    </head>
    <body>
        <h1 class = "header">CUNG NHAU HOC LAP TRINH NHE TRAN KHAC NHU</h1>
        <ul class = "list">
            <li class = "item">NODEJS</li>
            <li class = "item">PYTHON</li>
            <li class = "item">REACTJS</li>
            <li class = "item">JAVASCRIPT</li>
            <li class = "item">NESTJS</li>
        <img src = "/images/logo.png"/>

        </ul>        
    </body>
</html>